.container {
    height: 120px;
    border: solid;
    overflow: hidden;
    background-color: rgb(194, 192, 192);
    margin: 10px;
}

.Bigcontainer {
    height: 230px;
    border: solid;
    overflow: hidden;
    background-color: rgb(194, 192, 192);
    margin: 10px;
}

.float {
    position: sticky;
    top: 10px;
    left: 10px;
    float: left;
    display: block;
    width: 250px;
    height: 100px;
    background-color: rgb(151, 151, 151);
    margin-right: 20px;
}

.Bigfloat {
    position: sticky;
    top: 10px;
    left: 10px;
    float: left;
    width: 250px;
    height: 210px;
    background-color: rgb(151, 151, 151);
    margin-right: 20px;
}

.left {
    float: left;
}
  
.right {
    float: right;
}

.center {
    margin: 0 auto;
    float: none;
}

.clear1 {
    clear: both;
    position: relative;
    top: -90px;
    left: -270px;
}

.clear2 {
    clear: both;
    position: relative;
    top: -190px;
    left: -270px;
}

.clear3 {
    clear: both;
    position: relative;
    top: -200px;
    left: -270px;
}